.todo-app {
    width: 30%;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 0 30px 30px 30px;
    border: 1px solid crimson;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px ghostwhite;
}

header {
    width: fit-content;
    margin: auto;
    color: crimson;
    font-size: 40px;
}

.input-task {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    caret-color: crimson;
    padding-left: 10px;
}

button {
    width: 50px;
    height: 35px;
    margin-left: 5px;
    border-radius: 5px;
    color: crimson;
    font-size: 15px;
    font-weight: 500;
}


/*ToDo component*/

.collection-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
}

input[type=checkbox] + label {
    color: black;
}
input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

.fa-trash-alt {
    cursor: pointer;
    margin-right: 20px;
    color: crimson;
}



